* {
    box-sizing: border-box;
}

h1 {
    font-family: 'Orbitron', sans-serif;
    font-size: 60px;
    text-align: center;
}

body {
    padding: 0;
    margin: 0;
    background: linear-gradient(to right, rgb(141, 6, 18), white)
}

.calc-structure {
    display: grid;
    grid-template-rows: minmax(80px, auto) repeat(5, 80px);  
    /* max set to auto allows rows to grow with input */
    grid-template-columns: 80px 80px 80px 80px;
    grid-row-gap: 1px;
    grid-column-gap: 1px;
    place-content: center;
    /* border: solid black 2px; */
    min-height: 100vh;
    
}

.calc-structure > button {
    background-color: rgba(0, 0, 0, 0.623);
    border: solid black 2px;
    color: white;
    font-size: large;

}
.calc-structure > button:hover {
    background-color: rgba(0, 0, 0, 0.226);
}

#output {
    grid-column: span 3;
    display: flex;
    align-items: flex-end;
    flex-direction: column;
    padding: 20px;
}

